.droppedСubes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  position: relative;
}

.diceBtnDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 26px);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}


.diceBtn:hover {
  background-color: bisque;
}
.diceBtn:active {
  transition: none;
  font-weight: 700;
}

.containerReserveCube {
  margin: 3px;
  margin-top: 20px;
  cursor: pointer;
}

.containerReserveActiveCube {
  margin-top: 20px !important;
  margin: 3px;
  transform: scale(1.05);
  box-shadow: 0 0 4px 0 black;
  border-radius: 5px;
}


