.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 50%;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0 0 7px 0 #8d8d8d;
  padding: 30px;
  border-radius: 10px;
  transition: box-shadow .3s;
}

.register-form:hover {
  box-shadow: 0 0 15px 0 #8d8d8d;
}

.register-text{
  font-weight: 600;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

/* -------кнопка------- */
.register-btn-div {
  text-align: center;
}

.register-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px 40px;
  margin: 0 20px;
  font-weight: 600;
  line-height: 20px;
  color: #fdfbfb;
  font-size: 14px;
  text-transform: uppercase;
  background: rgb(61, 60, 56);
  border-width: 0;
  box-shadow: 5px 5px 0 #532831;
  outline: none;
  cursor: pointer;
  transition: 1.5s;
}
.register-btn:before, .register-btn:after {
  content: "";
  position: absolute;
  height: 200px;
  left: -50%;
  margin-top: -100px;
  top: 50%;
  width: 200px;
  border-radius: 50%;
  opacity: 0.3;
  z-index: -1;
  transform: scale(0);
}
.register-btn:before {
  background: #eaeded;
  transition: .8s ease-out;
}
.register-btn:after {
  transition: .4s ease-in .3s;
}
.register-btn:hover {
  color: #532831;
}
.register-btn:hover:before, .register-btn:hover:after {
  opacity: 1;
  transform: scale(4);
}

@media (max-width: 768px) {
  .register-form {
    width: 80%;
  }
}

@media (max-width: 468px) {
  .register-btn {
    margin: 0;
    margin-top: 10px;
    padding: 10px;

  }
}

@media (max-width: 468px) {
  .register-btn {
    font-weight: 400;
  }
}

@media (max-width: 400px) {
  .register-btn {
    text-transform: lowercase;
  }
}
