.btn-instruments {
  outline: none;
  border: 1px solid black;
  background-color: rgb(216, 216, 216);
  width: 150px;
  height: 40px;
  cursor: default !important;
  font-size: 1rem;
  border-radius: 3px;
  margin: 3px;
  transition: .5s;
}

.btn-instruments-close {
  border-radius: 3px;
  width: 100px;
}
